body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.App {
  text-align: center;
  color: #333;
  padding: 20px 0 0 0;
}

.App-select {
  font-size: large;
}

.App-films {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.App-films li {
  background: yellow;
}

.App-films li:nth-child(2n+1) {
  background: #ccc;
}
